<div class="Aboutme modal">
      <div class="box">
          <div>
              <h1 class="modal__title">About me</h1>
              <p>I’m Eric Ferguson, a software developer with a 
                passion for bringing ideas to life through code. 
                I specialize in Python and JavaScript, building 
                projects ranging from  backend systems and machine 
                learning models to full-stack web applications. 
                I graduated from the University of California, 
                Merced in December 2024, and I’m currently 
                seeking opportunities to grow, collaborate, 
                and create meaningful software.
              </p>
              <p>In addition to traditional software development, 
                I enjoy exploring the artistic side of technology 
                as a personal passion. I love working with 3D graphics, 
                finding beauty in the blend of art and engineering. 
                I've developed projects using OpenGL and Three.js, a
                nd I'm currently building skills in Godot, Blender, 
                and pixel art with the long-term goal of creating my 
                own indie game.
            </p>
          </div>
      </div>
  </div>