<div class="Education modal">
    <div class="box">
        <div>
            <h1 class="modal__title">Education</h1>
            <p>Graduated from <b>University of California, Merced</b></p>
            <p>Bachelor of Science in Computer Science & Engineering</p>
            <p><b>Graduated December 2024</b> (graduated with honors in 3.5 years)</p>
            <h1>Classes</h1>
            <ul>
                <li>Web Development</li>
                <li>Databases</li>
                <li>Computer Networks</li>
                <li>Artifical Intelligence</li>
                <li>Software development</li>
                <li>Computer Graphics</li>
                <li>Game Development</li>
                <li>Human Computer Interactions</li>
                <li>Data Structures and Algorithms</li>
            </ul>
            <h1>Clubs</h1>
            <ul>
                <li>ACM (Association for Computing Machinery)</li>
                <li>Game Development Club</li>
            </ul>
        </div>
    </div>
</div>