<div class="Experience modal">
    <div class="box">
        <h1 class="modal__title">Experience</h1>
        <div class="experience-item">
            <h3>AlphaSquad – Cloud Infrastructure Intern </h3>
            <span class="date">Jan - Present</span>
            <ul>
              <li>Configured and deployed scalable infrastructure on AWS using Terraform, emphasizing infrastructure-as-code practices.</li>
              <li>Set up EC2 instances for backend services and configured NGINX as a reverse proxy for traffic routing and load balancing.</li>
            </ul>
        </div>
        
        <div class="experience-item">
            <h3>Osaka University – Machine Learning Research Intern</h3>
            <span class="date">June - August</span>
            <ul>
              <li>Developed CNN models with PyTorch to predict mortality in heart failure patients using heart rate variability data.</li>
              <li>Preprocessed HRV data and transformed it into 2D images for deep learning analysis.</li>
            </ul>
        </div>
        <figure>
            <img src ="images/Osaka.jpg" />
            <figcaption>Presenting my research</figcaption>
        </figure>
    </div>
</div>