<div class="frieren modal">
  <p>Hello</p>
 
  
    <div class="box" >
        <a href="#m1-o" class="link-1" id="m1-c">Modal 1</a>
        <p class="box__info">Without Background</p>
    
        <div class="modal-container" id="m1-o">
        <div>
            <h1 class="modal__title">Modal 1 Title</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis delectus voluptate nesciunt modi accusantium placeat sint dignissimos laborum provident ad! Possimus eligendi, illum molestiae vel similique iure deserunt alias dolorum dolore a, est placeat. Voluptatum at vero perferendis quo! Laborum quia blanditiis impedit minima fuga? Expedita numquam neque, laudantium repellendus recusandae repellat iure. Voluptatem, doloribus animi fuga, dolores officiis tempora autem alias suscipit saepe optio exercitationem adipisci nihil. Corporis enim consequatur accusamus exercitationem, minima ut facere dolorum ducimus aperiam provident, fugit vel quaerat saepe adipisci quas nostrum fugiat fuga quis suscipit perferendis aliquam quo earum? Commodi tempora dolorum voluptatum.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis delectus voluptate nesciunt modi accusantium placeat sint dignissimos laborum provident ad! Possimus eligendi, illum molestiae vel similique iure deserunt alias dolorum dolore a, est placeat. Voluptatum at vero perferendis quo! Laborum quia blanditiis impedit minima fuga? Expedita numquam neque, laudantium repellendus recusandae repellat iure. Voluptatem, doloribus animi fuga, dolores officiis tempora autem alias suscipit saepe optio exercitationem adipisci nihil. Corporis enim consequatur accusamus exercitationem, minima ut facere dolorum ducimus aperiam provident, fugit vel quaerat saepe adipisci quas nostrum fugiat fuga quis suscipit perferendis aliquam quo earum? Commodi tempora dolorum voluptatum.</p>
            <p class="modal__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ex dicta maiores libero minus obcaecati iste optio, eius labore repellendus.</p>
            <button class="modal__btn">Button &rarr;</button>
        </div>
        </div>
    </div>
    <button class="modal-exit-button">
        <svg width="98" height="96" viewBox="0 0 98 96" class="exit-button-svg" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <rect width="115.92" height="17.889" rx="8.94448" transform="matrix(-0.696845 0.717222 0.717222 0.696845 83.1709 0)" fill="currentColor"/>
          <rect width="115.92" height="17.889" rx="8.94448" transform="matrix(0.73406 0.679084 0.679084 -0.73406 0 13.1318)" fill="currentColor"/>
        </svg>
    </button>
</div>