<div class="frieren modal">
    <div class="box">    
        <div>
            <h1 class="modal__title">Frieren</h1>
            <p>I’m a big fan of the anime Frieren: Beyond Journey's End, 
              and my appreciation for it extends beyond watching the show. 
              While in Osaka, I purchased my Frieren plushie, 
              and I also had the opportunity to visit a 
              Frieren-themed exhibition. 
            </p>
            <div class="figure-container">
              <figure>
                <img src ="images/plushie.jpg" width="300"/>
                <figcaption>Plushie at Lake Yosemite</figcaption>
             </figure>
             <figure>
               <img src ="images/drawing.png" width="300"/>
               <figcaption>A drawing I made</figcaption>
             </figure>
            </div>
            <figure>
              <img src ="images/exhibition.jpg" width="300"/>
              <figcaption>At the exhibition</figcaption>
            </figure>
            <p>In the future I would like to create a Frieren fan game. I have built a Friern tower
              defense game using Godot however I didn't get enough time to build it out and polish it. 
              Currently thinking about a dungeon rouge like game since Frieren likes to clear dungeons.
            </p>
        </div>
    </div>
</div>