<div class="Project modal">
    <div class="box">
        <section id="projects">
            <h1>Projects</h1>
            <article class="project-entry">
              <h3>Social Media React App</h3>
              <ul class="description">
                <li>Created a site similar to Twitter using React, Express, and MongoDB.</li>
                <li>Implemented user authorization with hashing and salting for security.</li>
                <li>Hosted the application briefly on an AWS EC2 instance.</li>
              </ul>
            </article>
          
            <article class="project-entry">
              <h3>Discord Bot</h3>
              <ul class="description">
                <li>Developed a Discord bot to retrieve and display user data from the Nintendo App API.</li>
                <li>Leveraged data caching for optimized performance and used AES encryption to securely handle user tokens.</li>
              </ul>
            </article>
          
            <article class="project-entry">
              <h3>OpenGL 3D Maze Game</h3>
              <ul class="description">
                <li>Built an interactive 3D maze game using custom real-time rendering techniques.</li>
                <li>Demonstrated proficiency in OpenGL for real-time graphics development.</li>
              </ul>
            </article>
        </section>
    </div>
</div>