@font-face {
    font-family: 'Motley Forces';
    src: url('/fonts/MotleyForces-Regular.woff2') format('woff2'),
        url('/fonts/MotleyForces-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'EudoxusSans';
    src: url('/fonts/EudoxusSans-Regular.woff2') format('woff2'),
        url('/fonts/EudoxusSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'EudoxusSans';
    src: url('/fonts/EudoxusSans-Bold.woff2') format('woff2'),
         url('/fonts/EudoxusSans-Bold.woff') format('woff');
    font-weight: bold;  /* Specify that this is the bold version */
    font-style: normal;
    font-display: swap;
}