@use "./styles/fonts.scss";
@use "./styles/reset.scss";



// Variables
$primary-color: #4c6364;
$accent-color: #eda72d;
$light-bg: #e0e3e7;
$border-dark: #000000;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
$primary-font: 'Motley Forces', 'EudoxusSans';
$transition-standard: 0.2s ease-in-out;
$transition-long: 0.5s ease-in-out;
$border-radius-standard: 2px;
.bold-eudoxus {
  font-family: 'EudoxusSans', sans-serif;
  font-weight: 700;  /* This will now use the bold version */
}
// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin left-side {
  position: absolute;
  top: 14%;
  left: 2%;
}
@mixin modal-border {
  border: 1px solid $border-dark;
  border-radius: $border-radius-standard;
}

// Base styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: $primary-font, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
b {
  font-weight: bold; /* Ensure bold weight is applied */
}
// Experience canvas
#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  
  &-canvas {
    height: 100%;
    width: 100%;
  }
}

// Navigation banner
.banner {
  display: flex;
  background-color: $primary-color;
  color: $accent-color;
  padding: 10px 0;
  text-align: center;
  font-size: 1.75vw;
  position: absolute;
  top: 0;
  height: 80px;
  left: 0;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  box-shadow: $box-shadow;
  transition: top $transition-long;
  font-family: $primary-font;

  &-link {
    text-align: center;
    user-select: none;
    justify-content: center;
    cursor: pointer;
    margin: 0 1vw;
    transition: $transition-standard;
    
    &:hover {
      font-size: 2vw;
    }
  }
}

// Modal components
.modal {
  z-index: 9999;
  padding: 10px;
  display: none;
  @include modal-border;
  background: $light-bg;
  text-align: left;
  font-family: "EudoxusSans";
  &-exit-button {
    position: absolute;
    top: -20px;
    left: -20px;
    background: $light-bg;
    border: 2px solid $border-dark;
    cursor: pointer;
    z-index: 3;
    padding: 0;
    width: 60px;
    height: 60px;
    transform: rotate(-17deg);
    
    svg {
      width: 100%;
      height: 100%;
      fill: currentColor;
      transition: transform $transition-standard;
    }
  }
  
  &-title {
    margin-top: 40px;
  }
}

.frieren {
  overflow-y: auto;
  max-width: 700px;
  @include left-side;
  width: 90%;
  height: 82%;
  font-size: 1.6rem;
  padding: 20px;
  & p {
    line-height: 1.4;
    margin: 10px 10px 40px 10px;
  }
  & h1 {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin: 10px 10px 40px 10px;
    margin-top:20px
  }
  & .figure-container {
    display: flex; /* Use flexbox to align figures side by side */
    justify-content: space-between; /* Space out the figures */
    align-items: flex-start; /* Align figures at the top */
    gap: 0px; /* Add spacing between the figures */
    margin: 10px 0;
  }

  & figure {
    display: flex;
    flex-direction: column; /* Stack image and caption vertically */
    align-items: center; /* Center-align the image and caption */
    flex: 1; /* Allow figures to take equal space */
    max-width: 100%; /* Limit the width of each figure */
  }

  & img {
    max-width: 100%;
    height: auto;
  }

  & figcaption {
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
    color: #333;
  }
}
.Aboutme{
  overflow-y: auto;
  max-width: 700px;
  @include left-side;
  width: 90%;
  height: 82%;
  font-size: 1.4rem;
  padding: 20px;
  line-height: 1.45;
  & p {
    margin: 10px 10px 30px 10px;
  }
  & h1 {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin: 10px 10px 20px 10px;
    margin-top:20px
  }
}
.Education{
  overflow-y: auto;
  max-width: 1000px;
  @include absolute-center;
  width: 90%;
  height: 82%;
  top: 55%;
  font-size: 1.6rem;
  padding: 20px;
  & p {
    margin: 10px 10px 10px 10px;
    line-height: 1.4;
  }
  & h1 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 10px 10px 40px 10px;
    margin-top:20px
  }
  & ul {
    margin: 10px 0 20px 20px; /* Add spacing and indentation for lists */
    padding-left: 20px;
    list-style-type: disc; /* Use a disc for list items */
    color: #333;
  }
  & li {
    text-align: left;
    margin-bottom: 10px; /* Add spacing between list items */
  }
}
.Experience{
  overflow-y: auto;
  max-width: 1000px;
  @include absolute-center;
  width: 90%;
  height: 82%;
  top: 55%;
  font-size: 1.6rem;
  padding: 20px;
  & p {
    margin: 10px 10px 10px 10px;
    line-height: 1.4;
  }
  & h1 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 10px 10px 40px 10px;
    margin-top:20px
  }
  & h3 {
    font-weight: bold;
  }
  & span {
    font-weight: normal;
    font-size: 1.2rem;
   
  }
  & ul {
    margin: 30px 0 30px 20px; /* Add spacing and indentation for lists */
    padding-left: 20px;
    list-style-type: disc; /* Use a disc for list items */
    color: #333;
  }
  & li {
    text-align: left;
    

    margin-bottom: 10px; /* Add spacing between list items */
  }
  & img {
    max-width: 50%;
    height: auto;
  }
  & figure {
    text-align: center;
  }
}
.Project{
  overflow-y: auto;
  max-width: 1000px;
  @include absolute-center;
  width: 90%;
  height: 82%;
  top: 55%;
  font-size: 1.6rem;
  padding: 20px;
  & p {
    margin: 10px 10px 10px 10px;
    line-height: 1.4;
  }
  & h1 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin: 10px 10px 40px 10px;
    margin-top:20px
  }
  & h3 {
    font-size: 1.5rem;
  }
  & ul {
    margin: 10px 0 30px 20px; /* Add spacing and indentation for lists */
    padding-left: 20px;
    list-style-type: disc; /* Use a disc for list items */
    color: #333;
    font-size: 1.45rem;
  }
  & li {
    text-align: left;
    margin-bottom: 10px; /* Add spacing between list items */
    line-height: 1.3;
  }
  & img {
    max-width: 50%;
    height: auto;
  }
  & figure {
    text-align: center;
  }
}
// Contact modal specific styles
.contact {
  max-width: 500px;
  @include absolute-center;
  width: 90%;
  font-size: 2.2rem;
  text-align: center;
  .modal-content {
    height: 170px;
    overflow: visible;
    
    &-wrapper {
      overflow: visible;
    }
  }
  
  &-button-wrapper {
    margin-top: 24px;
    justify-content: space-between;
  }
  
  &-svg {
    margin-left: 10px;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    
  }
}

// Back button
.circular-button {
  position: absolute;
  display: none;
  bottom: 50px;
  right: 30px;
  width: 100px;
  height: 100px;
  opacity: 1;
  border-radius: 50%;
  background-color: $primary-color;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  visibility: visible;
  font-size: 16px;
  cursor: pointer;
  box-shadow: $box-shadow;
  z-index: 9999;
  background-image: url("../public/images/back-arrow-icon.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1s, visibility 1s, background-size $transition-standard;
  
  &:hover {
    background-size: 75%;
  }
}

.show-back-button {
  visibility: visible;
  opacity: 1;
}
.mute-button {
  position: absolute;
  display: block;
  top: 100px;
  right: 30px;
  width: 50px;
  height: 50px;
  opacity: 1;
  border-radius: 50%;
  background-color: $primary-color;
  text-align: center;
  line-height: 100px;
  text-decoration: none;
  visibility: visible;
  font-size: 16px;
  cursor: pointer;
  box-shadow: $box-shadow;
  z-index: 9999;
  background-image: url("../public/images/audio.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 1s, visibility 1s, background-size $transition-standard;
  
  &:hover {
    background-size: 75%;
  }
}
body {
  --sb-track-color: $light-bg;
  --sb-thumb-color: $primary-color;
  --sb-size: 8px;
}
.frieren::-webkit-scrollbar {
  width: var(--sb-size);
}

.frieren::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

.frieren::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
  border: 1.8px solid #1d272b;
}

@supports not selector(::-webkit-scrollbar) {
  .frieren {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 108vw;
  height: 108vh;
  margin-left: -54vw;
  margin-top: -54vh;
  overflow: hidden;
  z-index: 999999;
  border: 8px solid $primary-color;
  background-color: #748f97;
  transform: perspective(1000px);
  border-radius: 48px;
}

.loading-screen-button {
  font-family: "Motley Forces";
  background-color: transparent;
  padding: 10px 40px;
  outline: none;
  color: #e6dede;
  border-radius: 1.2rem;
  border: none;
  font-size: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}